{% extends 'facil/home.html' %}

<body>
    {% block contenido %}
        <table>
            <tr>
                <td width="200"><h2>Mi perfil</h2></td>
            </tr>
        </table>

        <table class="table table-striped">
            <thead>
                <!-- Modificar para ver/modificar datos de perfil -->
            </thead>

            <tbody>
                <!-- Modificar para ver/modificar datos de perfil -->
            </tbody>
        </table>
    {% endblock contenido %}
</body>
</html>

